
/* Screens Resolution : 1400px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1400px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	/* ---------------------------------
	3. MAIN-IMAGE
	--------------------------------- */

	/* ---------------------------------
	4. STEPS
	--------------------------------- */

	/* ---------------------------------
	5. POSSIBLITIES
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */
    
}

/* Screens Resolution : 1200px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	body{contain: content; }

	.wrapper {margin: 0 auto; padding: 10px; max-width: -webkit-fill-available; }

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	/* ---------------------------------
	3. MAIN-IMAGE
	--------------------------------- */

	/* ---------------------------------
	4. STEPS
	--------------------------------- */

	#steps ul li {width: 215px; float: left; padding-bottom: 90px; clear: right; }

	/* ---------------------------------
	5. POSSIBLITIES
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */
    
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width:992px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	body{contain: content; }

	.wrapper {margin: 0 auto; padding: 10px; max-width: -webkit-fill-available; }

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	header nav {float: right; margin-top: 50px; display: flex; white-space: nowrap; }

	/* ---------------------------------
	3. MAIN-IMAGE
	--------------------------------- */

	/* ---------------------------------
	4. STEPS
	--------------------------------- */

	#steps ul li {width: 204px; float: left; padding-bottom: 90px; clear: right; }

	/* ---------------------------------
	5. POSSIBLITIES
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */
	
}

/* Screens Resolution : 768px and 780px
-------------------------------------------------------------------------- */
@media only screen and (min-width:768px) and (max-width:819px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	body{contain: content; }

	.wrapper {margin: 0 auto; padding: 10px; max-width: -webkit-fill-available; }

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	header nav {float: right; margin-top: 50px; display: flex; white-space: nowrap;  font-size: small; }

	header ul {list-style: none; padding-inline-start: 15px; }

	/* ---------------------------------
	3. MAIN-IMAGE
	--------------------------------- */

	/* ---------------------------------
	4. STEPS
	--------------------------------- */

	#steps ul li {width: 186px; float: left; padding-bottom: 90px; clear: right; }

	/* ---------------------------------
	5. POSSIBLITIES
	--------------------------------- */

	#possiblities div {width: 960px; height: 300px; border: 15px solid #333; background-size: cover; }

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */
	
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	body{contain: content; max-width: 100%; }

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	header h1{float: left; margin-top: 44px; width: -webkit-fill-available; }

	#menuToggle{display: block; position: relative; top: 10px; z-index: 1; -webkit-user-select: none; user-select: none; }
  
	#menuToggle li{text-decoration: none; color: #232323; transition: color 0.3s ease; }
  
	#menuToggle a:hover{color: rgb(86, 255, 71); font-size: 24px; }
  
	#menuToggle input[type="checkbox"]{display: block; width: 40px; height: 32px; position: absolute; top: -7px; left: -5px;
	                                  cursor: pointer; opacity: 0; z-index: 2; -webkit-touch-callout: none; }
  
	#menuToggle span{display: block; width: 33px; height: 4px; margin-bottom: 5px; position: relative; background: black;
	                 border-radius: 3px; z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
			    	/*background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),*/ opacity 0.55s ease; }
  
    #menuToggle span:first-child{transform-origin: 0% 0%; }
  
    #menuToggle span:nth-last-child(2){transform-origin: 0% 100%; }
  
    #menu input[type="search"]{display: block; position: inherit; -webkit-touch-callout: none; }
  
    #menuToggle input:checked ~ span{opacity: 1; transform: rotate(45deg) translate(-2px, -1px); background: #232323; }
  
    #menuToggle input:checked ~ span:nth-last-child(3){opacity: 0; transform: rotate(0deg) scale(0.2, 0.2); }
  
	#menuToggle input:checked ~ span:nth-last-child(2){transform: rotate(-45deg) translate(0, -1px); }
  
    #menu{position: absolute; width: 340px; margin: -100px 0 0 -280px; padding: 50px; padding-top: 35px; background: #ededede8;
	      list-style-type: none; -webkit-font-smoothing: antialiased; transform-origin: 0% 0%; transform: translate(150%, 0);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); }

    #menu li{ padding: 10px 0; font-size: 22px; display: block; }
  
    #menuToggle input:checked ~ ul{transform: none; }
	


	/* ---------------------------------
	3. MAIN-IMAGE
	--------------------------------- */

	/* ---------------------------------
	4. STEPS
	--------------------------------- */

	#steps ul li{clear: right; place-content: space-evenly; }

	#steps h4{margin: auto; }
				
	.flex-container{display: flex; flex-flow: row wrap; justify-content: space-around; padding: 0;
					 margin: 0; list-style: none; }

	.flex-item{padding: 17px; height: 160px; margin-top: 10px; flex: auto; }
				
	/* ---------------------------------
	5. POSSIBLITIES
	--------------------------------- */

	.s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after{background-color: greenyellow;}

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	.text{font-size: 55px;}

}
    
/* Screens Resolution : 576px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 576px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	.wrapper{padding: none; }

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	header h1{float: left; margin-top: 10px; width: -webkit-fill-available; }

	header nav{margin-top: 15px; }

	header{height: 70px; }

	#menu{position: absolute; width: 340px; margin: -55px 0 0 -280px; }

	/* ---------------------------------
	3. MAIN-IMAGE
	--------------------------------- */

	#main-image{height: 500px; background-size: contain; }

	/* ---------------------------------
	4. STEPS
	--------------------------------- */

	#steps h4{text-transform: capitalize; text-align: center; text-shadow: 0px 0px 0px black, 0 0 1em greenyellow, 0 0 4.2em black; }

	/* ---------------------------------
	5. POSSIBLITIES
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */
	
}

/* Screens Resolution : 0px and 576px
-------------------------------------------------------------------------- */
@media only screen and (min-width: 0px) and (max-width: 576px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	/* ---------------------------------
	3. MAIN-IMAGE
	--------------------------------- */

	/* ---------------------------------
	4. STEPS
	--------------------------------- */

	/* ---------------------------------
	5. POSSIBLITIES
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */
} 